@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500&family=Cormorant+Garamond:wght@400;500;600&display=swap");

:root {
  --title-font: "Cormorant Garamond", serif;
  --main-font: "Cairo", sans-serif;
}

body {
  background: #dce7ec;
}
a {
  color: #bf9b30;
}
.App {
  margin: 0 auto;
  max-width: 960px;
  font-family: var(--main-font);
}
.App-header {
  margin: 35px 0;
}
.App-logo {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}
footer {
  margin: 30px 0;
  font-size: 17px;
  opacity: 0.8;
}
.title {
  text-transform: uppercase;
  font-family: var(--title-font);
  font-weight: 600;
  padding-top: 30px;
  font-size: 55px;
  opacity: 0.8;
}

@media (max-width: 480px) {
  .title {
    font-size: 45px;
  }
}
