body {
  background: #dce7ec;
}
a {
  color: #bf9b30;
}
.App-header {
  margin: 35px 0;
}
.App-logo {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}
footer {
  margin: 30px 0;
  font-size: 14px;
  opacity: 0.8;
}
