.Phonetics {
  height: 65px;
}
.Phonetics .audio-player {
  border: none;
  margin: 0 20px;
}

.Phonetics .pronounciation {
  font-weight: bold;
  opacity: 0.5;
  font-size: 20px;
  padding: 13px 0;
}
